.root {
    @apply flex flex-col items-center justify-center gap-20;
}

.title {
    @apply flex flex-col gap-5 text-[20px] font-normal lg:w-[80%] xl:w-[70%];
}

.ellipsis {
    @apply flex self-start text-[32px];
}

.ellipsis:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 3000ms infinite;
    animation: ellipsis steps(4, end) 3000ms infinite;
    content: "...";
    width: 0px;
    letter-spacing: 22px;
}

@keyframes ellipsis {
    to {
        width: 3em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 3em;
    }
}
