.cardsContainer {
    @apply grid gap-5 md:grid-cols-3;
}

.multipleCards {
    @apply flex h-[50%] w-full items-center justify-start gap-4 !rounded-[10px] border border-brand-purple/30 !bg-card/[0.35] p-8 hover:cursor-pointer hover:border-brand-orange/20 hover:bg-card/[0.5] md:w-auto md:min-w-[230px] md:p-4 lg:min-w-[250px];
}

.logo {
    @apply ml-2 !p-0;
}

.title {
    @apply text-[22px] font-semibold !tracking-wide;
}

.titleTop {
    @apply text-[20px] font-medium !tracking-wide text-[#DFD8F5];
    font-family: "Roboto Mono", monospace;
}

.subTitleTop {
    @apply text-[14px] font-normal !tracking-wide text-[#82798A];
    font-family: "Roboto Mono", monospace;
}

@media (max-width: 480px) {
    .cardsContainer {
        @apply grid-cols-1;
    }
}

.disabledDiv {
    opacity: 0.5;
    pointer-events: "none";
}