@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant children {
    & > * {
        @slot
    }
}

@custom-variant selected {

    &[data-state='checked'],
    &[data-selected='true'],
    &[data-state='active'],
    &[data-state='on'] {
        @slot
    }
}

@custom-variant open {
    &[data-state='open'] {
        @slot
    }
}

@custom-variant hover {
    &:not(:disabled):hover {
        @slot
    }
}

@custom-variant disabled {

    &:disabled,
    &[disabled],
    &[data-disabled] {
        @slot
    }
}

@custom-variant enabled {
    &:not(:disabled):not([disabled]):not([data-disabled]) {
        @slot
    }
}





@custom-variant button-hover {

    &:hover:not([data-disabled]):not([data-loading]):not([data-decorative]) {
        @slot
    }
}

@custom-variant button-active {

    &[data-active]:not([data-disabled]),
    &[data-state='open'],
    &[data-state="checked"],
    &[data-selected="true"] {
        @slot
    }
}

@custom-variant button-loading {

    &[data-loading] {
        @slot
    }
}

@custom-variant button-disabled {

    &[data-disabled] {
        @slot
    }
}

@custom-variant button-focused {

    &:focus-visible {
        @slot
    }
}


@custom-variant textinput-hover {
    &:hover:not([data-disabled]):not([data-loading]) {
        @slot
    }
}

@custom-variant textinput-disabled {
    &[data-disabled]:not([data-loading]) {
        @slot
    }
}

@custom-variant textinput-loading {
    &[data-loading] {
        @slot
    }
}

@custom-variant textinput-active {
    &:active {
        @slot
    }
}

@custom-variant textinput-focused {
    &:focus-visible {
        @slot
    }
}

@custom-variant textinput-invalid {
    &[data-invalid] {
        @slot
    }
}

@custom-variant textinput-focused-invalid {
    &:focus-visible[data-invalid] {
        @slot
    }
}

@custom-variant switch-checked {
    &[data-state='checked'] {
        @slot
    }
}

@custom-variant switch-unchecked {
    &[data-state='unchecked'] {
        @slot
    }
}

@custom-variant switch-disabled {
    &[data-disabled]:not([data-loading]) {
        @slot
    }
}

@custom-variant switch-loading {
    &[data-loading] {
        @slot
    }
}

@custom-variant switch-focused {
    &:focus-visible {
        @slot
    }
}

@custom-variant switch-hover {
    &:hover:not([data-disabled]):not([data-loading]) {
        @slot
    }
}

@custom-variant select-content-top-side {
    &[data-side='top'] {
        @slot
    }
}

@custom-variant select-content-bottom-side {
    &[data-side='bottom'] {
        @slot
    }
}

@custom-variant select-content-left-side {
    &[data-side='left'] {
        @slot
    }
}

@custom-variant select-content-right-side {
    &[data-side='right'] {
        @slot
    }
}

@custom-variant select-content-open {
    &[data-state='open'] {
        @slot
    }
}

@custom-variant select-content-closed {
    &[data-state='closed'] {
        @slot
    }
}

@custom-variant select-item-focused {
    &:focus-visible {
        @slot
    }
}

@custom-variant select-item-selected {
    &[data-state='checked'] {
        @slot
    }
}

@custom-variant select-item-disabled {
    &[data-disabled] {
        @slot
    }
}

@custom-variant slider-disabled {
    &[data-disabled] {
        @slot
    }
}

@custom-variant slider-focused {
    &:focus-visible {
        @slot
    }
}

@custom-variant link-hover {
    &:hover:not([data-disabled]) {
        @slot
    }
}

@custom-variant link-focused {
    &:focus-visible:not([data-disabled]) {
        @slot
    }
}

@custom-variant link-disabled {
    &[data-disabled] {
        @slot
    }
}



@theme {
    --color-card-lv1: #181825;
    --color-card-lv2: #202032;
    --color-card-lv3: #30304b;

    --color-text-primary: #f3f3f7;
    --color-text-placeholder: #f3f3f7;
    --color-text-secondary: #cdcddf;
    --color-text-tertiary: #f3f3f780;

    --color-primary-light: #f8b76d;
    --color-primary-dark: #443024;

    --color-secondary-light: #c9bbf2;
    --color-secondary-dark: #312b4b;

    --color-tertiary-light: #fdbfbf;
    --color-tertiary-dark: #592830;

    --color-success: #42be65;
    --color-success-foreground: var(--color-text-primary);

    --color-info: #5190ff;
    --color-info-foreground: var(--color-text-primary);

    --color-alert: #f2c631;
    --color-alert-foreground: var(--color-text-primary);

    --color-warning: #ff8b40;
    --color-warning-foreground: var(--color-text-primary);

    --color-danger: #fa5867;
    --color-danger-foreground: var(--color-text-primary);

    --color-background: #101019;

    --font-sans: 'DM Sans', sans-serif;
    --font-mono: 'Overpass Mono', monospace;







    --color-brand-purple: hsl(var(--brand-purple));
    --color-brand-purple-foreground: hsl(var(--brand-purple-foreground));

    --color-brand-red: hsl(var(--brand-red));
    --color-brand-red-foreground: hsl(var(--brand-red-foreground));

    --color-brand-orange: hsl(var(--brand-orange));
    --color-brand-orange-foreground: hsl(var(--brand-orange-foreground));

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));






    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --background-image-barberpole: repeating-linear-gradient(-45deg,
            transparent,
            transparent 1rem,
            #fafafa 1rem,
            #fafafa 2rem);

    --background-size-barberpole: 200% 200%;

    --animate-collapsible-down: collapsible-down 0.2s ease-out;
    --animate-collapsible-up: collapsible-up 0.2s ease-out;
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-barberpole: barberpole 30s linear infinite;
    --animate-fill-right: fill-right var(--animation-duration) linear;

    @keyframes accordion-down {
        from {
            height: 0;
        }

        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }

        to {
            height: 0;
        }
    }

    @keyframes collapsible-down {
        from {
            height: 0;
        }

        to {
            height: var(--radix-collapsible-content-height);
        }
    }

    @keyframes collapsible-up {
        from {
            height: var(--radix-collapsible-content-height);
        }

        to {
            height: 0;
        }
    }

    @keyframes barberpole {
        to {
            background-position: 100% 100%;
        }
    }

    @keyframes fill-right {
        from {
            width: 0;
        }

        to {
            width: var(--animation-width);
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >=--theme(--breakpoint-sm)) {
        max-width: none;
    }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility bg-gradient {
    @apply bg-linear-to-r from-brand-purple via-brand-red to-brand-orange;
}

@layer base {

    /* for current theme */
    :root {
        --foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 254 59% 90%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --card: 265 26% 14%;
        --card-foreground: 210 40% 98%;

        --border: 255 30.7% 49.2%;
        --input: 217.2 32.6% 17.5%;

        --primary: 210 40% 98%;
        --primary-foreground: 0 0% 12.9%;

        --secondary: 32 91.4% 54.3%;
        --secondary-foreground: 0 0% 12.9%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 353 70% 49%;
        --destructive-foreground: 210 40% 98%;

        --ring: 32 91.4% 54.3%;

        --brand-purple: 255 30.7% 49.2%;
        --brand-purple-foreground: 210 40% 98%;

        --brand-red: 0 83.7% 61.6%;
        --brand-red-foreground: 210 40% 98%;

        --brand-orange: 32 91.4% 54.3%;
        --brand-orange-foreground: 0 0% 12.9%;

        --radius: 7px;
    }
}

@layer base {

    *,
    input,
    a,
    button {
        @apply font-sans outline-none;
    }

    p,
    span {
        @apply font-normal;
    }

    code,
    code * {
        @apply font-mono;
    }

    * {
        @apply border-card-lv3;
    }
}